.frame {
  border: 1px solid black;
  background: radial-gradient(farthest-corner, cyan, rgb(77, 136, 212), blue),
    100%;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.image {
  width: 170px;
  position: relative;
}

.figure {
  width: auto;
  height: auto;
  margin: 0px;
}

.sprite {
  width: 100%;
  background: radial-gradient(black, gray, white), 100%;
}

.subtitle {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid black;
  background: radial-gradient(farthest-corner at 25px 25px, red, yellow, orange),
    100%;
  background-color: lightskyblue;
  margin-bottom: 5px;
}

.tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.tips:hover {
  opacity: 1;
}

.tips:hover > * {
  transform: translateY(0);
}

.tips > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
